<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        {{#if loggedIn}}
            <p>Hello, {{username}}</p>
            <a href="/profile">profile</a>
            <a href="/api/users/logout">logout</a>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>This footer is on every page!</footer>
</body>
</html>