<h2 style="font-size: 80px; padding: 20px;">Bookclub Chat</h2>
<h4 class="px-5">Chat with users online right now!</h4>

{{!-- below is Brooke's --}}

      <div class="px-5">

        <ul class="list-unstyled">

          {{!-- message 1 begins --}}
          <li class="d-flex justify-content-between mb-4">
            <div>
            <img src="/images/multibook.png" alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong p-1" width="60">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">{{first_name}}</p>
                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
              </div>
              <div class="card-body">
                <p class="mb-0" id="messages2">
                  {{!-- message comes here --}}
                </p>
              </div>
            </div>
            </div>
          </li>
          {{!-- message 2 ends --}}
          {{!-- this is the users side --}}
          {{!-- message 2 begins --}}
          <li class="d-flex justify-content-end mb-4">
            <div>
              <div style="display: flex; justify-content: end;">
               <img src="/images/onebook.png" alt="avatar"
              class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong p-1" width="60">
              </div>
            <div class="card w-100">
              <div class="card-header d-flex justify-content-between p-3" style="background: #99C3AA;">
                <p class="fw-bold mb-0">Lara Croft</p>
                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium.
                </p>
            </div>
            </div>
              </div>
          </li>
          {{!-- message 2 ends --}}
          {{!-- message 3 begins --}}
          <li class="d-flex justify-content-between mb-4">
            <div>
            <img src="/images/multibook.png" alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong p-1" width="60">
            <div class="card">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">Brad Pitt</p>
                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            </div>
          </li>
          {{!-- message 3 ends --}}
          <li class="mb-3">
            <label class="form-label" for="textAreaExample2">Message</label>
            <ul id="messages"></ul>
            <form id="form">
              <div class="form-outline">
                <input class="form-control" id="input" rows="4" />
              </div>
          </li>
          <div class="d-flex justify-content-end">
            <button id="sendit" type="button" class="btn btn-info btn-rounded float-end">Send</button>
          </div>
            </form>
        </ul>

      </div>

    </div>

  </div>


{{!-- JT & Andrew --}}
{{!-- <script src="../node_modules/socket.io/client-dist/socket.io.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io();

  var messages = document.getElementById('messages');
  var form = document.getElementById('form');
  console.log(form)
  var input = document.getElementById('input');
  var sendit = document.getElementById('sendit');

  sendit.addEventListener('click', function(e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value);
      input.value = '';
    }
  });

  socket.on('chat message', function(msg) {
    var item = document.createElement('p');
    item.textContent = msg;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>