<h2 style="font-size: 80px; padding: 20px;">Bookclub Chat</h2>

{{!-- <script src="../node_modules/socket.io/client-dist/socket.io.js"></script> --}}
<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io();
</script>