
    <!-- Navigation bar might include this in the main handlebars -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #8DA675 !important">
        <div class="container-fluid">
          <h3 class="navbar-brand fw-bolder" href="#" style="color: #675541">📖  Booklastic 📖</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#thebookclub">The Bookclub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#mylibrary">My Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
    </nav> 
        <!-- get blogs to show up on here-->
    {{#each blogs}}
        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <hr>
    {{/each}}