<h2>Login</h2>
<form action="" id="loginButton">
    <input type="text" placeholder="email" id="loginEmail">
    <input type="password" placeholder="password" id="loginPassword">
    <button>Login!</button>
</form>
<h2>Signup</h2>
<form action="" id="signupButton">
    <input type="text" placeholder="firstname" id="signupFirstname">
    <input type="text" placeholder="email" id="signupEmail">
    <input type="password" placeholder="password" id="signupPassword">
    <button>Signup!</button>
</form>
<script src="js/login.js"></script>