    <!-- also used in the my library and most likely the bookclub -->
    <h2 style="font-size: 60px; padding: 20px;"> Add A New Book</h2>
    <!-- this is where the genre goes -->
 <div class="container">
        <h3 class="d-flex justify-content-center p-1">📖 What Genre Does Your Book Fit 📖</h3>
        <div class="form-check" id="genreselection">
            <div class="row d-flex justify-content-between">
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Fantasy</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Literary Fiction</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Science Fiction</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Thriller / Suspense</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Picture Book</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Young Adult</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Romance</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unhecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Historical Fiction</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Memoir</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Narrative</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">History</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Self-Help</label>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Health / Fitness</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Business</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">True Adventure / Crime</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Psychology</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Finance</label>
                </div>
                <div class="col-sm-1 custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" unchecked/>
                    <label class="custom-control-label" for="flexCheckChecked">Science / Technology</label>
                </div>
            </div>
        </div>
    </div>
    <!-- this is where the book input starts -->
<div class="container">
    {{!-- this is where the book title input goes --}}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Book Title</span>
            </div>
            <input type="text" class="form-control" aria-label="Title" aria-describedby="basic-addon1" id="newbooktitle">
        </div>
        <!-- this is where the authors inut goes-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Author Title</span>
            </div>
                <input type="text" class="form-control" aria-label="Title" aria-describedby="basic-addon1" id="newauthortitle">
            </div>
</div>
{{!-- the review  --}}
<div class="container">
    <h3 class="d-flex justify-content-center p-5">Your Review</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Review Title</span>
            </div>
                <input type="text" class="form-control" aria-label="Title" aria-describedby="basic-addon1" id="newReviewTitle">
        </div>
    <div class="form-group">
        <label for="comment">Review 📝</label>
        <textarea class="form-control" rows="5" id="newReviewComment"></textarea>
    </div>
</div>
<div class="d-flex justify-content-end m-5">
    <button type="button" class="btn btn-link" style="margin-right: 120px;" id="airplaneButton"><img src="/images/send.png" alt="paper air plane" style="width: 40px;"></button>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/newbook.js"></script>
