    <!-- also used in the my library and most likely the bookclub -->
    <h2 style="font-size: 60px; padding: 20px;"> {{first_name}}, How Was The Read?</h2>
    <!-- search bar -->
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-10">
            <div class="search d-flex">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control mx-1" placeholder="Type Book Title Here!" id="bookInput" list="bookList">
              <datalist id="bookList">
                  {{!-- <option value="new">Add New Book</option> --}}
              </datalist>
              <button class="btn btn-primary" id="bookSubmit">Submit</button>
            </div>
          </div>
        </div>
    </div>
    <!-- this is where the review input starts -->
    <div class="container">
        <h3 class="d-flex justify-content-center p-5">Your Review</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Review Title</span>
            </div>
                <input type="text" class="form-control" aria-label="Title" aria-describedby="basic-addon1" id="reviewTitle">
    </div>
        <!-- this is where the authore and title autopopulate-->
    <div class="container d-none" id="autopopulatecontainer">
        <ul class="m-3 row">
            <li class="list-group-item disabled mb-2 col-8" id="autopopTitle">{{hbsBook.title}}</li>
            <li class="list-group-item disabled mb-2 col" id="autopopAuth">{{hbsBook.author}}</li>
        </ul>
    </div>
    {{!-- review comment --}}
    </div>
    <div class="container">
        <div class="form-group">
            <label for="comment">Review 📝</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="d-flex justify-content-end my-4">
            <button type="button" class="btn btn-link" id="airplaneButton"><img src="/images/send.png" alt="paper air plane" style="width: 40px;"></button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/review.js"></script>

