* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #675541;
    --light: #E7E2D3;
    --med:#627133;
}

body{
    background: var(--light);
    color: var(--text);
}
h3 {
    color: #675541 !important;
}