* {
    margin: 0;
    padding: 0;
}
:root {
    --text: #675541;
    --light: #E7D6C1 !important;
    --med:#627133;
}
body{
    color: var(--text);
    background-color: #E7D6C1 !important;
}
h3 {
    color: #675541 !important;
}
.btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #627133;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }
.btn:active,
.btn:focus{  
  background-color: #ffeba7;
  color: #627133;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #627133;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}